// 水平两端对齐 垂直居中对齐
.flex-spacewent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// 垂直两端对齐
.flex-vertical {
    display: flex;
    flex-direction: column;
}
.flex-vertical-centener {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
// grid 布局
.grid-layout {
    display: grid;
}
// 三列布局等均分布
.grid-three-layout {
    display: grid;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    grid-template-rows: repeat(2, minmax(0px, 1fr));
    gap: 4px;
}
// padding
.small-pd {
    padding: 10px;
    box-sizing: border-box;
}
.middle-pd {
    padding: 20px;
}
.min-pb {
    padding-bottom: 10px;
}
.min-pl {
    padding-left: 10px;
}
.min-pr {
    padding-right: 10px;
}
.min-pt {
    padding-top: 10px;
}
.middle-pl {
    padding-left: 20px;
}
.middle-pt {
    padding-top: 20px;
}
// margin
.mini-left {
    margin-left: 5px;
}
.mini-right {
    margin-right: 5px;
}
.mini-mt {
    margin-top: 10px;
}
.mini-mb {
    margin-bottom: 10px;
}
.large-mb {
    margin-bottom: 30px;
}

// 宽度
.w-280 {
    width: 280px;
}
.wh-full {
    width: 100%;
    height: 100%;
}

// 高度
.h-280 {
    height: 280px;
}
.h-360 {
    height: 360px;
}
.h-380 {
    height: 380px;
}
.h-400 {
    height: 400px;
}
.h-420 {
    height: 420px;
}
.h-500 {
    height: 500px;
}

// 字体大小
.f-20 {
    font-size: 20px;
}
.f-24 {
    font-size: 24px;
}
.f-18-b {
    font-size: 18px;
    font-weight: bold;
}
.f-16-b {
    font-size: 16px;
    font-weight: bold;
}
.f-400-w {
    font-weight: 400;
}

// 字体颜色
.text-primary {
    color: var(--el-text-color-primary);
}
.text-regular {
    color: var(--el-text-color-regular);
}
